@charset "utf-8";
// @import "jquery-ui.less";
@import "colors.less";
@import "labels.less";
@import "icons.less";
@import "buttons.less";
@import "header.less";
@import "list.less";


// 默认的超链接样式

// iefucker
.ie6 {}
.ie6,.ie7,.ie8,.ie9 {}



// 其他
.crumb {
	.bc;
	.mb10;
	.f12;
	width: 960px;
	text-indent: 5px;
}

.page {
	.p10;
	.tc;
	a {
		.ib;
		.border1;
		line-height: 1.5em;
		padding: 0 .5em;
		background: #fff;
	}
	.on {
		.border1(@blue1);
		color: #fff;
		background: @blue1;
	}
}


@import "layout.less";
@import "base.less";
