@charset "utf-8";
// @import "jquery-ui.less";

// 默认的超链接样式

// iefucker
.ie6 {}
.ie6,.ie7,.ie8,.ie9 {}



// 其他
.crumb {
	.bc;
	.mb10;
	.f12;
	width: 960px;
	text-indent: 5px;
}

.page {
	.p10;
	.tc;
	a {
		.ib;
		.border1;
		line-height: 1.5em;
		padding: 0 .5em;
		background: #fff;
	}
	.on {
		.border1(@blue1);
		color: #fff;
		background: @blue1;
	}
}

.validityMsg {
	.pr;
	.ov;
	.vb;
	.zoom;
	z-index: 1;
	left: 5px;
	span {
		.none;
		.pa;
		.red;
		bottom:0;
		height:20px;
		line-height:20px;
		padding: 0 10px;
		white-space: nowrap;
		.border1(#900);
		background-color:lighten(@yellow1,45%);
	}
	i {font-family:icons;}
	strong {.fn;}
}

.invalid span {
	.block;
}

@import "header.less";
@import "list.less";
@import "labels.less";
@import "icomoon.less";
@import "icons.less";
@import "buttons.less";
@import "layout.less";
@import "colors.less";
@import "base.less";
