.ul1 {
	.f0;
	li {
		padding: 0 5px;
		* {
			.f12;
			.ib;
			.textcut;
			.vam;
			line-height: 27px;
			background:none;
		}
		mark {width: 4em; }
		span {width: 12em;}
		b {
			.tar;
			width:2em;
		}
	}
	.even {
		background: @gray5;
	}
}

.ul2 {
	.f14;
	line-height: 2em;
	_zoom:1;
	li {
		.posr;
		.textcut;
		_zoom:1;
	}
	span {
		.posa;
		right:10px;
		bottom: 0;
	}
	.gray {
		background-color: @gray6;
	}
	.dashed {
		border-bottom: 1px dashed @gray4;
	}
}

.ul3 {
	.f0;
	li {
		.lh18;
		.f12;
		margin-bottom: 10px;
	}
}

.ul4 {
	li {
		.leftFix(60px,70px);
		.mb10;
		border-bottom: 1px dashed @gray4;
		.fix img {
			width: 60px;
			height: 60px;
		}
		a {color:@blue1;}
		p {.lh15;}
	}
}
