@charset "utf-8";
// @import "jquery-ui.less";
// 变量
@gray1:#999;
@gray2:#666;
@gray3:#333;

//布局

.mCenter (@bottom:0) {
	margin:0 auto @bottom;
}

.ib {display:inline-block;}
.inline {display:inline;}
.none {display:none;}
.block {display:block;}

.vat {vertical-align:top; }
.vam {vertical-align:middle; }
.vab {vertical-align:bottom; }

.tar {text-align:right;}
.tac {text-align:center;}
.tal {text-align:left;}

.fl {float:left;}
.fr {float:right;}

.posr {position: relative;}
.posa {position: absolute;}
.poss {position: static;}

.ovv {overflow: visible;}
.ovh {overflow: hidden;}
.ova {overflow: auto;}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}
.clearfix {display: block;}

// 基本样式
.boxShadow1 {
	.boxShadow(2px);
}

.transition {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.textcut {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


// 抽象类

.boxShadow(@width:1px) {
	box-shadow: @width @width @width rgba(0,0,0,.3);
}

.border1 (@color:red) {
	borderm:1px solid @color;
}

// 固定左侧宽度，右侧自适应,默认两侧间距为10
.leftFix (@leftWidth,@minHeight:auto,@space:10px) {
	.posr;
	.block;
	padding-left: @leftWidth+@space;
	min-height: @minHeight;
	_height: @minHeight;
	.fl {
		.posa;
		width: @leftWidth;
		left: 0;
		top: 0;
	}
}

// 固定左侧宽度，右侧自适应,默认两侧间距为10
.rightFix (@rightWidth,@minHeight:auto,@space:10px) {
	.posr;
	.block;
	padding-right: @rightWidth+@space;
	min-height: @minHeight;
	_height: @minHeight;
	.fl {
		.posa;
		width: @rightWidth;
		right: 0;
		top: 0;
	}
}

// 默认的超链接样式
.link1 {
	color: @gray2;
}

// 标签
body {
	color: @gray3;
	background-color:#fff;
}

input::-webkit-input-placeholder{color:@gray1;}
input:-moz-placeholder{color:@gray1;}

a {
	.link1;
	text-decoration:none;
}

i {
	.vam;
	.ib;
	width: 20px;
	height: 20px;
}

label {
	cursor: pointer;
}

button,.btn {
	.vam;
	.tac;
	.ib;
	.ovh;
	background-position: 0 -40px;
	border: none;
	height: 24px;
	cursor: pointer;
	outline: none;
}

textarea {
	.border1(@gray1);
	width: 70%;
	height: 6em;
	line-height: 150%;
}

.f0 {font-size: 0px;}
.f12 {font-size: 12px;}
.f14 {font-size: 14px;}
.f16 {font-size: 16px;}
.f18 {font-size: 18px;}

.lh0 {line-height: 100%;}
.lh15 {line-height: 150%;}
.lh18 {line-height: 180%;}

.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb40 {margin-bottom: 40px;}

.p10 {padding: 10px;}
.p12 {padding: 10px 20px;}
.p20 {padding: 20px;}

// iefucker
.ie6 {} 
.ie6,.ie7,.ie8,.ie9 {}


// 其他
.text {
	.border1(@gray1);
	height: 20px;
	line-height: 20px;
	width: 10em;
}

.textMin {
	.text;
	width: 4em;
}

.textMed {
	.text;
	width: 15em;
}

.textLong {
	.text;
	width: 20em;
}

.articleBody {
	padding: 0 10px 30px;
	line-height: 180%;
	h1,h2,h3,h4,h5,h6 {margin-bottom:1em;}
	h1 {font-size:24px;}
	h2 {font-size:20px;}
	h3 {font-size:18px;}
	h4 {font-size:16px;}
	h5 {font-size:14px;}
	h6 {font-size:12px;}
	p {
		margin-bottom: 1em;
	}
}

