@import "jquery-ui.less";
// ±äÁ¿¶¨Òå
@gray1: #f6f6f6; 
@gray2: #dedede;
@gray3: #999;
@gray4: #fafafa;
@gray5: #efefef;
@gray6: #e8e8e8;
@gray7: #F1F1F1;
@gray8: #A6A6A6;
@gray9: #8F8F8F;

@dark0: #000;
@dark1: #333;
@dark2: #585858;
@dark3: #7C7C7C;
@dark4: #2C2C2C;
@dark5: #212121;
@dark6: #515151;
@dark7: #494949;
@dark8: #727272;

@red1: #d82e1c;
@red2: #F3BCBC;

@blue1: #01AFEC;
@blue2: #70CCF3;
@blue3: #06a6db;

.border1 (@color:@gray2) {
	border:1px solid @color;
}

.border2 (@color:@gray2) {
	border-bottom:2px solid @color;
}

.marginCenter (@bottom:0) {
	margin:0 auto @bottom;
}

.vat {vertical-align:top; }
.vam {vertical-align:middle; }
.vab {vertical-align:bottom; }

.tar {text-align:right;}
.tac {text-align:center;}
.tal {text-align:left;}

.fl {float:left;}
.fr {float:right;}

.posr {position: relative;}
.posa {position: absolute;}
.posc {position: static;}


.boxShadow1 {
	box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

.sprite1 {background:url(../img/sprite1.png) no-repeat;}
.sprite2 {background:url(../img/sprite2.png) no-repeat;}

.transition {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.textcut {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// ±êÇ©¶¨Òå

body {
	background-color:#fff;
}

a {
	color:@dark1;
	text-decoration:none;
}

i {
	.vam;
	.sprite1;
	display: inline-block;
	width: 20px;
	height: 20px;
}


button,.btn {
	.vam;
	.sprite2;
	background-position: 0 -40px;
	border: none;
	width: 102px;
	height: 25px;
	cursor: pointer;
}

// iefucker
.ie6 {
	.navBar {
		.fr {padding-top:5px;}
		i {margin:8px 0}
		button i {
			margin: 2px 0;
		}
	}

} 
.ie6,.ie7,.ie8,.ie9 {
	button {line-height: 24px; }
	.imgMetro a:hover {
		footer {top:100%;}
	}
}


//ÆäËû¶¨Òå
.ib {display:inline-block;}
.ib {*display:inline;}

.user {background-position:-120px 0;}
.cart {background-position:-80px 0;}
.hall {background-position:-40px 0;}
.shield {background-position:0 0;}
.arrowDown {background-position:-80px -80px;}
.search {width: 23px;height: 24px;background-position:0 -60px;}

.btnBlue1 {
	width: 85px;
	height: 26px;
	color: #fff;
	background-position: 0 -300px;
}

.red {color: @red1;}

.wrapper {
	width:996px;
	.marginCenter;
}

.mb10 {margin-bottom:10px;}

.w760 {width: 760px;}
.w226 {
	width: 226px;
	.adlink {
		.mb10;
		display: block;
		img {
			width: 226px;
		}
	}
}

.header1 {
	line-height: 34px;
	height: 37px;
	color: @blue3; 
	font-size: 18px;
	font-weight: normal;
}

.header2 {
	line-height: 38px;
	font-size: 20px;
	color: @dark7; 
	font-weight: normal;
}

.header3 {
	.header2;
	color: @blue3;
}

.borderblock1 {
	.border1;
	padding: 10px;
}

.ol1 {
	list-style: none;
	i {margin-right:5px;}
	.o1 {background-position:0 -220px;}
	.o2 {background-position:0 -240px;}
	.o3 {background-position:0 -260px;}
	.o4 {background-position:0 -280px;}
	.o5 {background-position:0 -300px;}
	li {
		border-bottom: 1px dashed @gray2;
		line-height: 28px;
		_margin-bottom:-1px;
	}
	a {
		.textcut;
		display: inline-block;
		width: 80%;
	}
}

.clearfix:after {
	content: ¡°.¡±;
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}
.clearfix {display: block;}

.topHeader {
	.citySelector {
		margin: 0 40px -8px 5px;
	}
	.navBar {
		zoom:1;
		overflow:visible;
		margin: 10px 0 0;
		min-width: 996px;
		height: 38px;
		line-height: 37px;
		background: url(../img/nav.png) center 0 no-repeat;
		.dropNav {
			.vat;
			.posr;
			width: 210px;
			overflow: visible;
			font-size: 14px;
			display: inline-block;
			div {
				text-indent: 10px;
				height:37px;
				line-height: 37px;
				color: #fff;
				cursor: pointer;
			}
			ul {
				.posa;
				display: none;
				width: 188px;
				padding: 0 1px;
				border: 2px solid @red2;
				border-top-width: 0;
				background-color: @gray4;
				left: 0;
				top: 38px;
				overflow:visible;
				li {
					.posr;
					display: block;
					padding: 0 5px;
					background:url(../img/bg-index-sort-v211.png) right -80px no-repeat;
					height: 39px;
					overflow: visible;
					a {
						display: block;
						border-bottom: 1px solid @gray5;
						border-top: 1px solid #fff;
						padding-left: 50px;
						background:url(../img/ico-index-sort.png) 0 0 no-repeat;
					}
					.navIcon-1{background-position:15px 4px}
					.navIcon-2{background-position:15px -96px}
					.navIcon-3{background-position:15px -196px}
					.navIcon-4{background-position:15px -296px}
					.navIcon-5{background-position:15px -396px}
					.navIcon-6{background-position:15px -496px}
					.navIcon-7{background-position:15px -596px}
					.navIcon-8{background-position:15px -696px}
					nav {
						display: none;
						a {
							color: @dark3;
							height: 27px;
							line-height: 27px;
							font-size: 12px;
							border-top: 0;
							border-bottom: 0;
							padding-left: 30px;
							background:url(../img/bg-index-sort-v211.png) 15px -154px no-repeat;
						}
						a:hover {
							background:url(../img/bg-index-sort-v211.png) 15px -181px no-repeat;
						}
					}
				}
				li.hover,li:hover {
					background:url(../img/bg-index-sort-v211.png) 0 -37px repeat-x;
					z-index: 1;
					a{color: #fff;}
					nav {
						.posa;
						display: block;
						background-color: white;
						border: 2px solid #E51A45;
						left: 160px;
						margin-top: -38px;
						width: 120px;
						z-index: 30;
						height: auto;
						overflow: hidden;
						a {color: @dark3;}
					} 
					.navIcon-1{background-position:15px -46px}
					.navIcon-2{background-position:15px -146px}
					.navIcon-3{background-position:15px -246px}
					.navIcon-4{background-position:15px -346px}
					.navIcon-5{background-position:15px -446px}
					.navIcon-6{background-position:15px -546px}
					.navIcon-7{background-position:15px -646px}
					.navIcon-8{background-position:15px -746px}
				}
			}
		}
		.dropNav {
			*display: inline;
		}
		.dropNav:hover,.hover {ul {display: block;} }
		.mainNav {
			.vat;
			display: inline-block;
			font-size: 16px;
			a {
				.tac;
				display: inline-block;
				width: 132px;
				height: 37px;
				color: #fff;
			}
			a.current {
				background:url(../img/nav_current.png) 0 0 no-repeat;
			}
		}
		.mainNav {
			*display: inline;
		}
	}
}

.toolbar {
	.tar;
	.border1;
	border-width:0 0 1px;
	height:34px;
	line-height:34px;
	background-color:@gray1;
	margin-bottom:18px;
	h1 {
		float:left;
	}
	span a {
		display: inline-block;
		margin: 0 5px;
	}
}

#sideBar {
	position: fixed;
	_position: absolute;
	z-index: 1;
	top: 187px;
	width: 100%;
	overflow: visible;
	.wrapper {
		.posr;
		div {
			.posa;
			left: 100%;
			padding-left: 10px;
		}
	}
	a {
		.sprite1;
		.mb10;
		width: 124px;
		height: 48px;
		display: inline-block;
	}
	.wangwang {background-position: -300px 0;}
	.qq {background-position: -300px -60px;}
	.msn {background-position: -300px -120px;}
}

.citySelector {
	.posr;
	z-index: 1;
	display: inline-block;
	font-size: 12px;
	strong {
		font-size: 16px;
		display: block;
		padding-left: 5px;
	}
}

.popSelector {
	.border1;
	.posr;
	display: inline-block;
	height: 19px;
	line-height: 19px;
	padding: 0 25px 0 5px;
	background:#fff url(../img/selector.png) right top no-repeat; 
	overflow: visible;
	cursor: pointer;
	.pop {
		.boxShadow1;
		.posa;
		border: 2px solid @red1;
		display: none;
		width: 460px;
		top: 100%;
		left: -1px;
		background: #fff;
		padding: 10px 5px 5px;
		a {
			display: inline-block;
			width:6em;
			white-space: nowrap;
			margin: 0 5px 5px;
			span {
				margin: 0 0 0 5px;
				color: @dark3;
			}
		}
		a:hover {
			color: @red1;
		}
	}
	.right {
		left: auto;
		right: -1px;
	}
}
.citySelector .on {
	background-color: @red1;
	background-position: right -19px;
	border: 1px solid @red1;
	color: #fff;
	.pop {display:inline-block;}
}

.mainSearch {
	.vab;
	.posr;
	margin-bottom: -8px;
	form {
		.tar;
		.sprite2;
		width: 408px;
		height: 32px;
		input {
			.vam;
			width: 310px;
			border: none;
			background: none;
		}
		button {
			.vam;
			border: none;
			background:none;
			color:#fff;
			width: 78px;
			height: 32px;
			font-weight: bold;
			text-indent: 15px;
			font-size:16px;
		}
	}
	div	{
		.posa;
		top: 100%;
		left: 0;
		padding-top: 5px;
	}
	span {
		color: @red1;
	}
}

.hotline {
	.sprite2;
	background-position: right top;
	display:inline-block;
	width: 165px;
	height: 44px;
	.posa;
	right: 0;
	bottom: 0;
}

.main {
	background-position: center 0;
	background-repeat: no-repeat;
	padding-top: 10px;
	.wrapper {background:#fff;}
}

.quickLink {
	width: 100%;
	margin: 10px 0;
	td {
		.border1;
		padding: 20px 15px;
	}
	img {display:block;}
}

.mainFooter nav table {
	width: 100%;
	margin-bottom: 10px;
	td {
		.border1;
		border-top: none;
		padding-bottom: 10px;
	}
	h4 {
		font-size: 14px;
		border-top: 4px solid @dark2;
		padding: 15px 30px 15px;
	}
	a {
		display: block;
		padding: 5px 30px;
		color:@gray3;
	}
}

.flink {
	.border1;
	padding: 10px;
	font-size: 0;
	margin-bottom: 10px;
	a {
		display: inline-block;
		font-size: 12px;
		white-space: nowrap;
		margin:5px;
		color:@gray3;
	}
}

.alink {
	.tac;
	background:@gray6;
	padding: 8px;
	margin-bottom: 10px;
}

.copyright {
	.tac;
	margin-bottom: 30px;
	line-height: 130%;
	color: @dark3;
	p {
		color: @gray3;
		margin-bottom: 20px;
	}
	div {
		margin-bottom: 10px;
	}
}

#slider {
	margin-bottom: 10px;
	.controller {
		.border1;
		.fr;
		margin-left: -126px;
		width: 122px;
		padding: 1px;
		height:300px;
		font-size: 0;

		button {
			.posr;
			width: 58px;
			height: 20px;
			display: block;
			margin: 0 auto;
			z-index: 1;
		}

		.prev {
			background-position: 0 -80px;
		}

		.next {
			background-position: -80px -80px;
		}

		.sliderWrapper {
			background:@dark4;
			height: 250px;
			padding: 25px 0;
			margin: -20px 0;
		}

		div {
			overflow: hidden;
			height: 100%;
		}

		li {
			.tar;
			margin-bottom: 10px;
			margin-left: 4px;
			width: 115px;
			height: 55px;
			overflow: hidden;
		}

		li.current {
			background: url(../img/sprite2.png) 0 -120px no-repeat;
		}

		img {
			display: inline-block;
			margin: 2px 3px;
			background: @dark5;
			width: 103px;
			height: 51px;
		}
	}
	.stage {
		display: block;
		.border1;
		width: 865px;
		padding: 1px;
		height: 300px;
		img {
			display: block;
			width: 100%;
			height: 100%;
			background-color: @dark3;
		}
	}
}

.tab1 {
	header {
		height: 37px;
		font-size: 0;
	}

	.content .on {display:block;}

	h1 {
		.transition;
		display: inline-block;
		height: 34px;
		line-height: 34px;
		font-size: 18px;
		padding: 0 15px;
		background: #fff;
		font-weight: normal;
		cursor: default;
		margin-right: 5px;
	}

	h1 {
		*display:inline;
	}

	header .on {
		color: #fff;
		background-color: @blue1;
	}
}

.tab2 {
	.tab1;
	h1 {
		padding: 0 30px;
		background-color: @gray7;
	}

	header {
		.posr;
		height: 36px;
		border-bottom: 1px solid @dark1;
		.on {
			background-color: @dark6; 
		}
		.citySelector .on {background-color: @red1;}
		.pop {
			left: auto;
			right: -1px;
		}
	}
	.citySelector {
		.posa;
		right: 0;
		bottom: 2px;
	}
}

.tab3 {
	.tab1;
	h1 {font-size: 16px;}
	header {
		.border2(@gray8);
		.mb10;
	}
}

.ul1 {
	.border1;
	font-size: 0;
	padding: 10px;
	display: none;
	height: 270px;

	li {
		.posr;
		.border1;
		.transition;
		display:inline-block;
		width: 160px;
		height: 260px;
		overflow: hidden;
		font-size: 12px;
		margin: 0 10px;

		div {
			a {
				zoom:1;
				display: block;
				padding: 5px;
				color: @gray3;
				h2 {
					.textcut;
					font-weight: normal;
					color: @dark2;
					margin-bottom: 5px;
				}
			}
		}
		img {
			display: block;
			width: 150px;
			height: 200px;
			margin-bottom: 10px;
		}

		strong {
			font-size: 14px;
			color: @red1; 
		}

		footer {
			.posa;
			top: 100%;
			left: 0;
			background-color: @blue2;
			width: 140px;
			height: 100%;
			padding: 0 10px;
			line-height: 150%;
			span {
				display: block;
				font-size: 30px;
				margin: 20px 0;
				color: #fff;
				font-style: italic;
			}
			h2 {
				font-size: 14px;
				margin-bottom: 20px;
			}

			a {
				.sprite2;
				.posa;
				bottom: 10px;
				left: 7px;
				background-position: 0 -200px;
				display: block;
				width: 145px;
				height: 50px;
				text-indent: -1000px;
			}
		}
	}

	li {
		*display:inline;
	}

}

.ul2 {
	font-size: 0;
	padding: 10px;
	margin: 0 -15px -15px 0;
	li {
		display: inline-block;
		margin: 0 15px 15px 0;
	}
	li {
		*display: inline;
	}

	a {
		font-size: 12px;
		display: block;
	}

	img {
		.border1;
		.vat;
		display: inline-block;
		width: 105px;
		height: 140px;
		margin-right: 10px;
	}

	span {
		.posr;
		.vat;
		display: inline-block;
		width: 180px;
		height: 140px;
		line-height: 120%;
		color: @dark8;
		b {
			.posa;
			bottom: 10px;
		}
	}

	h2 {
		padding: 10px 0;
		font-size: 14px;
		color: @dark2;
	}


	strong {
		.red;
		font-size: 24px;
		line-height: 100%;
	}
}

.ul3 {
	margin-right: -15px;

	li {
		display: inline-block;
		margin: 0 15px 15px 0 ;
	}

	li {
		*display: inline;
	}

	a {display: inline-block;}
	img {
		.border1;
		display: inline-block;
		width: 120px;
		height: 164px;
		padding: 2px;
	}

	div {
		.vat;
		.posr;
		display: inline-block;
		color: @gray9;
		width: 180px;
		padding-left: 10px;
		line-height: 200%;

		.btn_sit,.btn_ticket {
			.sprite2;
			display: inline-block;
			width: 78px;
			height: 20px;
			background-position: 0 -260px;
			margin-right: 5px;
		}

		.btn_ticket {
			background-position: -100px -260px;
		}


	}

	div {
		*display: inline;
	}

	h2 {
		.mb10;
		font-size: 12px;
		a {color:@dark1;}
		line-height: 150%;
	}
}

#latestAction {
	div {
		.border1;
		padding: 10px 10px 5px;
		height: 275px;
		overflow: hidden;
	}

	.topImg {
		display: block;
		margin: 0 auto 10px;
		img {
			width: 210px;
			height: 100px;
		}
	}

	li:hover footer {
		top: 0;
	}

	footer {
		padding: 5px 0 0;
	}
}

.areaHot {
	display: none;
	footer {
		line-height: 28px;
		color: @gray2;
	}
	div {
		.border1;
		padding: 10px 20px;
	}

	.imgTop {
		.vat;
		display: inline-block;
		img {
			display: inline-block;
			width: 280px;
			height: 440px;
		}
	}

	ul {
		.vat;
		display: inline-block;
		width: 670px;
		font-size: 0;
		li {
			display: inline-block;
			width: 302px;
			margin: 0 0 25px 25px;
			font-size: 12px;
			color: @gray3;
		}

		li {
			*display: inline;
		}

		a {
			display: block;
		}

		img {
			.border1;
			display: block;
			width: 290px;
			height: 140px;
			padding: 5px;
		}

		h2 {
			.textcut;
			margin-bottom: 5px;
			font-size:14px;
			line-height: 30px;
			border-bottom: 1px dotted @gray2;
		}

		strong {
			.red;
		}
	}

	ul {*display:inline;}
}

#calendarBig {
	.border1;
	font-size: 17px;
	.ui-datepicker {
		height: 18.5em;
		float: left;
		margin: -1px;
		border-color: @gray2;
		td span,td a {
			padding: .5em;
		}
	}
	.ul2 {
		.fr;
		width: 650px;
	}
}

.imgMetro {
	.border1;
	padding: 2px;
	font-size: 0;
	a {
		.posr;
		display: inline-block;
		width: 140px;
		height: 140px;
		overflow: hidden;
		margin: 0 1px 1px 0;
	}

	a:hover {
		footer {top:0;}
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
	}

	footer {
		.posa;
		.transition;
		width: 100%;
		height: 100%;
		opacity: 0.8;
		filter: alpha(opacity=80);
		background-color: @blue1;
		top: 100%;
		color: #fff;
	}

	p {
		.textcut;
		white-space: normal;
		font-size: 12px;
		line-height: 120%;
		margin: 0 20px;
	}

	h4 {
		font-size: 20px;
		padding: 20px;
	}

	.big {
		.fl;
		width: 281px;
		height: 281px;
	}

	.mid {
		width: 281px;
	}
}

#searchTicket {
	.borderblock1;
	.mb10;
	font-size: 14px;

	.btnBlue1 {
		.posr;
		font-size: 14px;
		left: 3em;
		font-weight: bold;
	}

	h2 {
		color: @blue2;
		margin-bottom: 20px;
		font-size: 18px;
	}

	p {
		margin-bottom: 10px;
		padding-left: 2em;
	}
}