@charset "utf-8";
.ib {
  display: inline-block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}
.block {
  display: block;
}
.vat {
  vertical-align: top;
}
.vam {
  vertical-align: middle;
}
.vab {
  vertical-align: bottom;
}
.tar {
  text-align: right;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.posr {
  position: relative;
}
.posa {
  position: absolute;
}
.poss {
  position: static;
}
.ovv {
  overflow: visible;
}
.ovh {
  overflow: hidden;
}
.ova {
  overflow: auto;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  display: inline-block;
}
.clearfix {
  display: block;
}
.boxShadow1 {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.transition {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.textcut {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.link1 {
  color: #666666;
}
body {
  color: #333333;
  background-color: #fff;
}
input::-webkit-input-placeholder {
  color: #999999;
}
input:-moz-placeholder {
  color: #999999;
}
a {
  color: #666666;
  text-decoration: none;
}
i {
  vertical-align: middle;
  display: inline-block;
  width: 20px;
  height: 20px;
}
label {
  cursor: pointer;
}
button,
.btn {
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  background-position: 0 -40px;
  border: none;
  height: 24px;
  cursor: pointer;
  outline: none;
}
textarea {
  borderm: 1px solid #999999;
  width: 70%;
  height: 6em;
  line-height: 150%;
}
.f0 {
  font-size: 0px;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.lh0 {
  line-height: 100%;
}
.lh15 {
  line-height: 150%;
}
.lh18 {
  line-height: 180%;
}
.mb10 {
  margin-bottom: 10px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.p10 {
  padding: 10px;
}
.p12 {
  padding: 10px 20px;
}
.p20 {
  padding: 20px;
}
.text {
  borderm: 1px solid #999999;
  height: 20px;
  line-height: 20px;
  width: 10em;
}
.textMin {
  borderm: 1px solid #999999;
  height: 20px;
  line-height: 20px;
  width: 10em;
  width: 4em;
}
.textMed {
  borderm: 1px solid #999999;
  height: 20px;
  line-height: 20px;
  width: 10em;
  width: 15em;
}
.textLong {
  borderm: 1px solid #999999;
  height: 20px;
  line-height: 20px;
  width: 10em;
  width: 20em;
}
.articleBody {
  padding: 0 10px 30px;
  line-height: 180%;
}
.articleBody h1,
.articleBody h2,
.articleBody h3,
.articleBody h4,
.articleBody h5,
.articleBody h6 {
  margin-bottom: 1em;
}
.articleBody h1 {
  font-size: 24px;
}
.articleBody h2 {
  font-size: 20px;
}
.articleBody h3 {
  font-size: 18px;
}
.articleBody h4 {
  font-size: 16px;
}
.articleBody h5 {
  font-size: 14px;
}
.articleBody h6 {
  font-size: 12px;
}
.articleBody p {
  margin-bottom: 1em;
}
